* {
	margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
ul, li {
	list-style: none;
}
html, body, #root {q
  height: 100%;
}
body {
	background-color: #FFF;
	font-size: 12px;
}
.main {
	padding-top: 0.75rem;
}
.integral {
	background: url('./imgs/bg1.png') left bottom no-repeat;
	background-size: contain;
	height: 2.5rem;
}
.integral > span {
	padding-left: 0.5rem;
}
.result {
	height: 2.05rem;
	position: relative;
}
.text {
	position: absolute;
  left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%); 	/* IE 9 */
	-moz-transform:translate(-50%, -50%); 	/* Firefox */
	-webkit-transform:translate(-50%, -50%); /* Safari 和 Chrome */
	-o-transform:translate(-50%, -50%); 	/* Opera */
	font-size: 0.56rem;
	color: #FFF;
	font-family: "inherit";
}
.effect {
	width: 2.05rem;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	background: url('./imgs/bg2.png') 0 0 no-repeat;
	background-size: contain;
	 -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}
.remain {
	color: #FF5151;
	font-size: 0.37rem;
}
.exchange {
	text-align: center;
	padding-top: 0.45rem;
	padding-bottom: 0.64rem;
}
.exchange > span {
	color: #FF5151;
	font-size: 0.37rem;
}
.exchange > input {
	border: 1px solid #fb6b85;
	width: 3.3rem;
	height: 0.73rem;
	font-size: 0.28rem;
	border-radius: 0.1rem;
	padding-left: 0.28rem;
	line-height: 0.28rem;
	outline:medium;
}
.space {
	background-color: #F4F4F4;
	height: 0.2rem;
}
.confirm {
	text-align: center;
	padding-bottom: 0.4rem;
}
.confirm-btn {
	display: inline-block;
	width: 4.92rem;
	height: 1.08rem;
	background: url('./imgs/btn1.png') 0 0 no-repeat;
	background-size: contain;
}
.rule {
	padding: 0.35rem 0.3rem;
}
.list {
	padding-top: 0.5rem;
}
.list > li {
	padding-bottom: 0.35rem;
	color: #999;
	font-size: 0.26rem;
}
.title {
	text-align: center;
	font-size: 0.32rem;
	color: #555;
	position: relative;
}
.title > span {
	background-color: #FFF;
	padding: 0 0.2rem;
	position: relative;
	z-index: 1;
}
.title::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	background-color: #B8B8B8;
	height: 1px;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.mask {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
	background-color: #FFF;
	padding: 0.55rem;
	border-radius: 0.2rem;
	text-align: center;
	white-space: nowrap;
}
.close {
	position: absolute;
	right: -0.3rem;
	top: -0.3rem;
	width: 0.7rem;
	height: 0.7rem;
	background: url('./imgs/close.png') 0 0 no-repeat;
	background-size: contain;
}
.code-img {
	width: 3.72rem;
	height: 3.72rem;
}
.code-text{
	padding-top: 0.4rem;
	color: #ff384c;
	font-size: 0.36rem;
}
.code-text button {
	// text-decoration: none;
	background: none;
	border: none;
	outline: none;
	color: #ff384c;
	font-size: 0.36rem;

}
.code-tip {
	padding-top: 0.34rem;
	color: #5F5F5F;
	font-size: 0.3rem;
}


















